<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    ul{
        font: 600 25px/35px serif;
        color: lightcoral;
        
    }
    ul li{
        margin: 0 0 25px;
        border-bottom: 1px solid #f55;
    }
</style>
<body>
    <ul>
        <li>/getdata</li>
        <li>/postdata</li>
        <li>/setdata</li>
    </ul>
</body>
</html>